USE [master]
GO
/****** Object:  Database [PublicTransportDB]    Script Date: 7/8/2019 11:11:56 PM ******/
CREATE DATABASE [PublicTransportDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PublicTransportDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PublicTransportDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PublicTransportDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PublicTransportDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PublicTransportDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PublicTransportDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/8/2019 11:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adresses]    Script Date: 7/8/2019 11:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Number] [nvarchar](max) NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_Adresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[AddressId] [int] NULL,
	[UserType] [nvarchar](max) NULL,
	[AccountStatus] [nvarchar](max) NULL,
	[DocumentUrl] [nvarchar](max) NULL,
	[PublicId] [nvarchar](max) NULL,
	[Verified] [bit] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Busses]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Busses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LocationId] [int] NULL,
	[BusNumber] [int] NOT NULL,
	[InUse] [bit] NOT NULL,
	[LineId] [int] NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_Busses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lines]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LineNumber] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[TimetableId] [int] NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_Lines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[X] [float] NOT NULL,
	[Y] [float] NOT NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paypals]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paypals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cart] [nvarchar](max) NULL,
	[CreateTime] [nvarchar](max) NULL,
	[PaypalId] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PayerId] [nvarchar](max) NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Currency] [nvarchar](max) NULL,
	[Total] [nvarchar](max) NULL,
 CONSTRAINT [PK_Paypals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricelistItems]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricelistItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NULL,
	[PricelistId] [int] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_PricelistItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pricelists]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pricelists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[From] [datetime2](7) NOT NULL,
	[To] [datetime2](7) NOT NULL,
	[Active] [bit] NOT NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_Pricelists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationLines]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationLines](
	[LineId] [int] NOT NULL,
	[StationId] [int] NOT NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_StationLines] PRIMARY KEY CLUSTERED 
(
	[LineId] ASC,
	[StationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[AddressId] [int] NULL,
	[LocationId] [int] NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_Stations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateOfIssue] [datetime2](7) NOT NULL,
	[TicketType] [nvarchar](max) NULL,
	[IsValid] [bit] NOT NULL,
	[UserId] [int] NULL,
	[PriceInfoId] [int] NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeTables]    Script Date: 7/8/2019 11:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeTables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Day] [nvarchar](max) NULL,
	[LineId] [int] NULL,
	[Departures] [nvarchar](max) NULL,
	[LineId1] [int] NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_TimeTables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDiscounts]    Script Date: 7/8/2019 11:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDiscounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Value] [float] NOT NULL,
	[TableVersion] [timestamp] NULL,
 CONSTRAINT [PK_UserDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190613191227_NewInitialMigration', N'2.1.11-servicing-32099')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190613192756_NullableFKLine', N'2.1.11-servicing-32099')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190614092947_lineToTimetable', N'2.1.11-servicing-32099')
SET IDENTITY_INSERT [dbo].[Adresses] ON 

INSERT [dbo].[Adresses] ([Id], [Street], [City], [Number]) VALUES (1, N'Ulica', N'Grad', N'Broj')
INSERT [dbo].[Adresses] ([Id], [Street], [City], [Number]) VALUES (2, N'Ulica', N'Grad', N'Broj')
INSERT [dbo].[Adresses] ([Id], [Street], [City], [Number]) VALUES (3, N'Ulica', N'Grad', N'Broj')
SET IDENTITY_INSERT [dbo].[Adresses] OFF
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'Passenger', N'PASSENGER', N'44463d77-6925-4906-8869-bf602f9bb1aa')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'Controller', N'CONTROLLER', N'01b54a05-3050-43fa-b95c-131ce19c1a75')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, N'Admin', N'ADMIN', N'b1637ac8-9dea-435c-a8ae-fc97495eee11')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
SET IDENTITY_INSERT [dbo].[Busses] ON 

INSERT [dbo].[Busses] ([Id], [LocationId], [BusNumber], [InUse], [LineId]) VALUES (1, NULL, 354, 1, 1)
INSERT [dbo].[Busses] ([Id], [LocationId], [BusNumber], [InUse], [LineId]) VALUES (2, NULL, 789, 1, 1)
INSERT [dbo].[Busses] ([Id], [LocationId], [BusNumber], [InUse], [LineId]) VALUES (3, NULL, 135, 1, 1)
SET IDENTITY_INSERT [dbo].[Busses] OFF
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [Type], [Description]) VALUES (1, N'Daily', N'This ticket is valid until 00:00 next day')
INSERT [dbo].[Items] ([Id], [Type], [Description]) VALUES (2, N'Hourly', N'This ticket is valid just for one hour')
INSERT [dbo].[Items] ([Id], [Type], [Description]) VALUES (3, N'Monthly', N'This ticket is valid for one month')
SET IDENTITY_INSERT [dbo].[Items] OFF
SET IDENTITY_INSERT [dbo].[Lines] ON 

INSERT [dbo].[Lines] ([Id], [LineNumber], [Name], [TimetableId]) VALUES (1, 4, N'ZELEZNICKA STANICA - CENTAR - LIMAN 4', 4)
INSERT [dbo].[Lines] ([Id], [LineNumber], [Name], [TimetableId]) VALUES (2, 8, N'NOVO NASELJE - CENTAR - LIMAN 4', 1)
INSERT [dbo].[Lines] ([Id], [LineNumber], [Name], [TimetableId]) VALUES (3, 1, N'STRAND - CENTAR - KLISA', 3)
SET IDENTITY_INSERT [dbo].[Lines] OFF
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [X], [Y]) VALUES (1, 45.24775, 19.849104)
INSERT [dbo].[Locations] ([Id], [X], [Y]) VALUES (2, 45.260318, 19.842785)
INSERT [dbo].[Locations] ([Id], [X], [Y]) VALUES (3, 45.260678, 19.833057)
SET IDENTITY_INSERT [dbo].[Locations] OFF
SET IDENTITY_INSERT [dbo].[Paypals] ON 

INSERT [dbo].[Paypals] ([Id], [Cart], [CreateTime], [PaypalId], [Email], [FirstName], [LastName], [PayerId], [PaymentMethod], [Status], [State], [Currency], [Total]) VALUES (1, N'5Y592468TB010014N', N'2019-07-08T13:10:55Z', N'PAYID-LURUBNI9H013238LA068322F', N'test-buyer@publictransport.net', N'Luna', N'Savic', N'7XQN3ETCFG96E', N'paypal', N'VERIFIED', N'approved', N'USD', N'150.00')
SET IDENTITY_INSERT [dbo].[Paypals] OFF
SET IDENTITY_INSERT [dbo].[PricelistItems] ON 

INSERT [dbo].[PricelistItems] ([Id], [ItemId], [PricelistId], [Price]) VALUES (1, 2, 1, CAST(150.00 AS Decimal(18, 2)))
INSERT [dbo].[PricelistItems] ([Id], [ItemId], [PricelistId], [Price]) VALUES (2, 1, 1, CAST(390.00 AS Decimal(18, 2)))
INSERT [dbo].[PricelistItems] ([Id], [ItemId], [PricelistId], [Price]) VALUES (3, 3, 1, CAST(3450.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PricelistItems] OFF
SET IDENTITY_INSERT [dbo].[Pricelists] ON 

INSERT [dbo].[Pricelists] ([Id], [From], [To], [Active]) VALUES (1, CAST(N'2019-07-07T12:29:44.7266749' AS DateTime2), CAST(N'2019-11-07T12:29:44.9384244' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Pricelists] OFF
INSERT [dbo].[StationLines] ([LineId], [StationId]) VALUES (1, 1)
INSERT [dbo].[StationLines] ([LineId], [StationId]) VALUES (1, 2)
INSERT [dbo].[StationLines] ([LineId], [StationId]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Stations] ON 

INSERT [dbo].[Stations] ([Id], [Name], [AddressId], [LocationId]) VALUES (1, N'Aleksandar zgrada', 14, 23)
INSERT [dbo].[Stations] ([Id], [Name], [AddressId], [LocationId]) VALUES (2, N'Futoska pijaca', 16, 25)
INSERT [dbo].[Stations] ([Id], [Name], [AddressId], [LocationId]) VALUES (3, N'Lili', 25, 32)
SET IDENTITY_INSERT [dbo].[Stations] OFF
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [DateOfIssue], [TicketType], [IsValid], [UserId], [PriceInfoId]) VALUES (1, CAST(N'2019-07-07T14:51:25.5544825' AS DateTime2), N'Hourly', 1, NULL, 1)
INSERT [dbo].[Tickets] ([Id], [DateOfIssue], [TicketType], [IsValid], [UserId], [PriceInfoId]) VALUES (2, CAST(N'2019-07-07T20:26:50.5503289' AS DateTime2), N'Hourly', 1, NULL, 1)
INSERT [dbo].[Tickets] ([Id], [DateOfIssue], [TicketType], [IsValid], [UserId], [PriceInfoId]) VALUES (3, CAST(N'2019-07-07T20:45:33.4581067' AS DateTime2), N'Hourly', 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
SET IDENTITY_INSERT [dbo].[TimeTables] ON 

INSERT [dbo].[TimeTables] ([Id], [Type], [Day], [LineId], [Departures], [LineId1]) VALUES (1, N'In City', N'Working day', 2, N'00:12-22-25-34-40-45-58/01:30/02:30/03:30/04:30/05:30/06:00-20-40/07:03-12-23-30-45-58/08:13-22-25-30-45-58/09:03-12-23-30-45-58/10:03-12-23-30-45-58/11:03-12-23-30-45-58/12:03-12-23-30-45-58/13:03-12-23-30-45-58/14:03-12-23-30-45-58/15:03-12-23-30-45-58/16:03-12-23-30-45-58/17:00-23-30-40-58/18:00-23-30-40-58/19:00-23-30-40-58/20:00-23-40-58/21:00-23-40-58/22:00-23-40-58/23:00-30-58', NULL)
INSERT [dbo].[TimeTables] ([Id], [Type], [Day], [LineId], [Departures], [LineId1]) VALUES (2, N'In City', N'Working day', 1, N'00:12-25-34-40-45-58/01:30/02:30/03:30/04:30/05:30/06:00-25-40/07:03-14-23-37-45-52/08:13-22-25-30-45-58/09:03-12-30-45-58/10:03-12-27-30-41-58/11:03-12-23-30-45-58/12:03-12-23-30-45-58/13:03-12-23-30-45-58/14:03-12-23-30-45-58/15:03-12-23-30-45-58/16:03-12-23-30-45-58/17:00-23-30-40-58/18:00-23-30-40-58/19:00-23-30-40-58/20:00-23-40-58/21:00-23-40-58/22:00-23-40-58/23:00-30-58', NULL)
SET IDENTITY_INSERT [dbo].[TimeTables] OFF
SET IDENTITY_INSERT [dbo].[UserDiscounts] ON 

INSERT [dbo].[UserDiscounts] ([Id], [Type], [Value]) VALUES (1, N'Student', 20)
INSERT [dbo].[UserDiscounts] ([Id], [Type], [Value]) VALUES (2, N'Regular', 0)
INSERT [dbo].[UserDiscounts] ([Id], [Type], [Value]) VALUES (3, N'Senior', 35)
SET IDENTITY_INSERT [dbo].[UserDiscounts] OFF
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_AddressId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_AddressId] ON [dbo].[AspNetUsers]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Busses_LineId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Busses_LineId] ON [dbo].[Busses]
(
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Busses_LocationId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Busses_LocationId] ON [dbo].[Busses]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PricelistItems_ItemId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_PricelistItems_ItemId] ON [dbo].[PricelistItems]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PricelistItems_PricelistId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_PricelistItems_PricelistId] ON [dbo].[PricelistItems]
(
	[PricelistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StationLines_StationId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_StationLines_StationId] ON [dbo].[StationLines]
(
	[StationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stations_AddressId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Stations_AddressId] ON [dbo].[Stations]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stations_LocationId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Stations_LocationId] ON [dbo].[Stations]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_PriceInfoId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_PriceInfoId] ON [dbo].[Tickets]
(
	[PriceInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_UserId]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_UserId] ON [dbo].[Tickets]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeTables_LineId1]    Script Date: 7/8/2019 11:11:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeTables_LineId1] ON [dbo].[TimeTables]
(
	[LineId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Adresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Adresses] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Adresses_AddressId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Busses]  WITH CHECK ADD  CONSTRAINT [FK_Busses_Lines_LineId] FOREIGN KEY([LineId])
REFERENCES [dbo].[Lines] ([Id])
GO
ALTER TABLE [dbo].[Busses] CHECK CONSTRAINT [FK_Busses_Lines_LineId]
GO
ALTER TABLE [dbo].[Busses]  WITH CHECK ADD  CONSTRAINT [FK_Busses_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Busses] CHECK CONSTRAINT [FK_Busses_Locations_LocationId]
GO
ALTER TABLE [dbo].[PricelistItems]  WITH CHECK ADD  CONSTRAINT [FK_PricelistItems_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[PricelistItems] CHECK CONSTRAINT [FK_PricelistItems_Items_ItemId]
GO
ALTER TABLE [dbo].[PricelistItems]  WITH CHECK ADD  CONSTRAINT [FK_PricelistItems_Pricelists_PricelistId] FOREIGN KEY([PricelistId])
REFERENCES [dbo].[Pricelists] ([Id])
GO
ALTER TABLE [dbo].[PricelistItems] CHECK CONSTRAINT [FK_PricelistItems_Pricelists_PricelistId]
GO
ALTER TABLE [dbo].[StationLines]  WITH CHECK ADD  CONSTRAINT [FK_StationLines_Lines_LineId] FOREIGN KEY([LineId])
REFERENCES [dbo].[Lines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StationLines] CHECK CONSTRAINT [FK_StationLines_Lines_LineId]
GO
ALTER TABLE [dbo].[StationLines]  WITH CHECK ADD  CONSTRAINT [FK_StationLines_Stations_StationId] FOREIGN KEY([StationId])
REFERENCES [dbo].[Stations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StationLines] CHECK CONSTRAINT [FK_StationLines_Stations_StationId]
GO
ALTER TABLE [dbo].[Stations]  WITH CHECK ADD  CONSTRAINT [FK_Stations_Adresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Adresses] ([Id])
GO
ALTER TABLE [dbo].[Stations] CHECK CONSTRAINT [FK_Stations_Adresses_AddressId]
GO
ALTER TABLE [dbo].[Stations]  WITH CHECK ADD  CONSTRAINT [FK_Stations_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Stations] CHECK CONSTRAINT [FK_Stations_Locations_LocationId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_PricelistItems_PriceInfoId] FOREIGN KEY([PriceInfoId])
REFERENCES [dbo].[PricelistItems] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_PricelistItems_PriceInfoId]
GO
ALTER TABLE [dbo].[TimeTables]  WITH CHECK ADD  CONSTRAINT [FK_TimeTables_Lines_LineId1] FOREIGN KEY([LineId1])
REFERENCES [dbo].[Lines] ([Id])
GO
ALTER TABLE [dbo].[TimeTables] CHECK CONSTRAINT [FK_TimeTables_Lines_LineId1]
GO
USE [master]
GO
